In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.read_csv('../data/gdp_percapita.csv')

     Country or Area  Year        Value  Value Footnotes
0        Afghanistan  2023  1992.424394              NaN
1        Afghanistan  2022  1981.710168              NaN
2        Afghanistan  2021  2144.166570              NaN
3        Afghanistan  2020  2769.685745              NaN
4        Afghanistan  2019  2927.245144              NaN
...              ...   ...          ...              ...
8214        Zimbabwe  1994  3965.730986              NaN
8215        Zimbabwe  1993  3634.750494              NaN
8216        Zimbabwe  1992  3649.891947              NaN
8217        Zimbabwe  1991  4126.405247              NaN
8218        Zimbabwe  1990  4013.299059              NaN

[8219 rows x 4 columns]

### Q. 4 Using the pandas `read_csv()` method, read the GDP dataset into your notebook as a DataFrame called `gdp_df`. Take a look at the first few and last few rows to familiarize yourself with what is contained in this dataset.

In [3]:
gdp_df = pd.read_csv('../data/gdp_percapita.csv')
gdp_df.head()

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2023  1992.424394              NaN
1     Afghanistan  2022  1981.710168              NaN
2     Afghanistan  2021  2144.166570              NaN
3     Afghanistan  2020  2769.685745              NaN
4     Afghanistan  2019  2927.245144              NaN

In [4]:
gdp_df.tail()

     Country or Area  Year        Value  Value Footnotes
8214        Zimbabwe  1994  3965.730986              NaN
8215        Zimbabwe  1993  3634.750494              NaN
8216        Zimbabwe  1992  3649.891947              NaN
8217        Zimbabwe  1991  4126.405247              NaN
8218        Zimbabwe  1990  4013.299059              NaN

### Q. 5 How many rows and columns are in `gdp_df`? What are the data types of each column?

In [5]:
gdp_df.shape

(8219, 4)

In [6]:
gdp_df.info

<bound method DataFrame.info of      Country or Area  Year        Value  Value Footnotes
0        Afghanistan  2023  1992.424394              NaN
1        Afghanistan  2022  1981.710168              NaN
2        Afghanistan  2021  2144.166570              NaN
3        Afghanistan  2020  2769.685745              NaN
4        Afghanistan  2019  2927.245144              NaN
...              ...   ...          ...              ...
8214        Zimbabwe  1994  3965.730986              NaN
8215        Zimbabwe  1993  3634.750494              NaN
8216        Zimbabwe  1992  3649.891947              NaN
8217        Zimbabwe  1991  4126.405247              NaN
8218        Zimbabwe  1990  4013.299059              NaN

[8219 rows x 4 columns]>

### Q. 6 Drop the `Value Footnotes` column and rename the remaining three to 'Country', 'Year', and 'GDP_Per_Capita'.

In [7]:
gdp_df = gdp_df.drop(columns = ['Value Footnotes'])

In [8]:
gdp_df = gdp_df.rename(columns = {'Country or Area': 'Country', 'Year':'Year', 'Value': 'GDP_Per_Capita'})

In [9]:
gdp_df

          Country  Year  GDP_Per_Capita
0     Afghanistan  2023     1992.424394
1     Afghanistan  2022     1981.710168
2     Afghanistan  2021     2144.166570
3     Afghanistan  2020     2769.685745
4     Afghanistan  2019     2927.245144
...           ...   ...             ...
8214     Zimbabwe  1994     3965.730986
8215     Zimbabwe  1993     3634.750494
8216     Zimbabwe  1992     3649.891947
8217     Zimbabwe  1991     4126.405247
8218     Zimbabwe  1990     4013.299059

[8219 rows x 3 columns]

### Q. 7 How many countries have data for all years? Which countries are missing many years of data? Look at the number of observations per year. What do you notice?

In [10]:
gdp_df['Year'].nunique()

34

In [11]:
gdp_country_count = gdp_df['Country'].value_counts().to_frame().reset_index()

In [12]:
len(gdp_country_count.loc[gdp_country_count['count'] == gdp_df['Year'].nunique()])

228

In [13]:
len(gdp_country_count.loc[gdp_country_count['count'] != gdp_df['Year'].nunique()])

19

### Q.8 In this question, you're going to create some plots to show the distribution of GDP per capita for the year 2020. Go to the Python Graph Gallery (https://www.python-graph-gallery.com/) and look at the different types of plots under the Distribution section. Create a histogram, a density plot, a boxplot, and a violin plot. What do you notice when you look at these plots? How do the plots compare and what information can you get out of one type that you can't necessarily get out of the others?

In [ ]:
gdp_2020 = gdp_df.loc[(gdp_df.Year == 2020)]

In [ ]:
gdp_2020

In [ ]:
gdp_2020['GDP_Per_Capita'].hist(bins = 12, color = 'green', edgecolor = 'black', figsize = (9,4))

plt.title('GDP_Per_Capita', fontsize = 12);

In [ ]:
gdp_2020.hist('GDP_Per_Capita');

In [ ]:
sns.boxplot(data = gdp_2020, x = 'GDP_Per_Capita');

In [ ]:
sns.violinplot(data = gdp_2020, x = 'GDP_Per_Capita');

In [ ]:
sns.kdeplot(gdp_2020['GDP_Per_Capita'])

### Q.9 What was the median GDP per capita value in 2020?

In [ ]:
gdp_2020['GDP_Per_Capita'].describe()

In [ ]:
gdp_2020['GDP_Per_Capita'].median()

### Q. 10 For this question, you're going to create some visualizations to compare GDP per capita values for the years 1990, 2000, 2010, and 2020. Start by subsetting your data to just these 4 years into a new DataFrame named gdp_decades. Using this, create the following 4 plots:
	* A boxplot
	* A barplot (check out the Barplot with Seaborn section: https://www.python-graph-gallery.com/barplot/#Seaborn)
	* A scatterplot
	* A scatterplot with a trend line overlaid (see this regplot example: https://www.python-graph-gallery.com/42-custom-linear-regression-fit-seaborn)

In [ ]:
gdp_decades = gdp_df.loc[(gdp_df.Year == 1990) | (gdp_df.Year == 2000) | (gdp_df.Year == 2010) | (gdp_df.Year == 2020)]
gdp_decades

In [ ]:
sns.boxplot(data = gdp_decades, x = 'Year', y = 'GDP_Per_Capita');

In [ ]:
sns.barplot(data = gdp_decades, x = 'Year', y = 'GDP_Per_Capita');

In [ ]:
sns.regplot(data = gdp_decades, x = 'Year', y = 'GDP_Per_Capita', 
            scatter_kws = {'color' : 'grey', 'alpha' : 0:2})

In [ ]:
sns.regplot(x=gdp_decades["Year"], y=gdp_decades["GDP_Per_Capita"],
    line_kws={"color": "black", "linewidth":2, 'alpha' : .4});

In [ ]:
sns.regplot(data = gdp_decades, x = 'Year', y = 'GDP_Per_Capita', x_jitter = True);

### Q 11. Which country was the first to have a GDP per capita greater than $100,000?

In [ ]:
gdp_df.loc[gdp_df['GDP_Per_Capita'] > 100000].sort_values('Year').head(2).Country

### Q 12. Which country had the highest GDP per capita in 2020? Create a plot showing how this country's GDP per capita has changed over the timespan of the dataset

In [ ]:
top_country = gdp_2020.sort_values('GDP_Per_Capita', ascending = False).Country.head(1)

In [ ]:
top_over_time = gdp_df.loc[gdp_df.Country.isin(top_country)]

In [ ]:
sns.lineplot(data = top_over_time, x = 'Year', y = 'GDP_Per_Capita')

In [ ]:
gdp_2020.sort_values('GDP_Per_Capita', ascending = False).Country.head(1)

### Q. 13 Which country had the lowest GDP per capita in 2020? Create a plot showing how this country's GDP per capita has changed over the timespan of the dataset. **Bonus question:** Is it true in general that coutries had a higher GDP per capita in 2020 than in 1990? Which countries had lower GDP per capita in 2020 than in 1990?

In [ ]:
lowest_gdp = gdp_2020.sort_values('GDP_Per_Capita').Country.head(1)

In [ ]:
lowest_over_time = gdp_df.loc[gdp_df.Country.isin(lowest_gdp)]

In [ ]:
sns.lineplot(data = lowest_over_time, x = 'Year', y = 'GDP_Per_Capita')
plt.ylim(bottom = 0)

### Q. 14 Read in the internet use dataset into a DataFrame named `internet_df`. You will likely get errors when doing this. Check the arguments for the read_csv function to find ones that can help correct the errors (https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) Once you are able to read it in, take per a look at the top and bottom few rows to make sure that it has been read in correctly. Also, check the datatypes of the columns.

In [15]:
internet_df = pd.read_csv('../data/internet_use.csv', nrows = 6083)

### Q. 15  Drop the `Value Footnotes` column and rename the remaining three to 'Country', 'Year', and 'Internet_Users_Pct'.

In [22]:
internet_df = internet_df.drop(columns = ['Value Footnotes'])

In [23]:
internet_df

     Country or Area  Year      Value
0        Afghanistan  2019  17.600000
1        Afghanistan  2018  16.800000
2        Afghanistan  2017  13.500000
3        Afghanistan  2016  11.000000
4        Afghanistan  2015   8.260000
...              ...   ...        ...
6078        Zimbabwe  1997   0.033080
6079        Zimbabwe  1996   0.016790
6080        Zimbabwe  1995   0.007684
6081        Zimbabwe  1994   0.001739
6082        Zimbabwe  1990   0.000000

[6083 rows x 3 columns]

In [26]:
internet_df = internet_df.rename(columns = {'Country or Area' : 'Country', 'Value' : 'Internet_Users_Pct'})

In [27]:
gdp_and_internet_use = pd.merge(gdp_df, internet_df, on = ['Country', 'Year'])

### Q. 16 Look at the number of observations in this dataset per year. What do you notice?